.zoom-bg img {
  transition: transform 0.5s;
}

.zoom-bg:hover img {
  transform: scale(1.1);
}
.zooming-image-container {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.zooming-image {
  width: 80%;
  height: 80%;
  transition: transform 0.3s;
}

.zooming-image:hover {
  transform: scale(1.1);
}

.zooming-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.zooming-image-text {
  color: #fff;
  font-size: 24px;
}
